
/*------------------------section service -------------------*/


.service{
    background-color: #f9f9f9;
}

.service-item{
    width: 50%;
    float: left;
}

.service-item .section-header{
    text-align: left;
}

.service-item .section-header .line{
    margin: 0 0 50px 0;
}

.service-item-desc{
    padding-right: 20px;
    color: #999;
    line-height: 1.5;
    font-size: 18px;
    margin-bottom: 20px;
}

.service-list{
    list-style: none;
}

.service-list li {
    margin-bottom: 10px;
    color: #999;
}
.service-list li i {
    border: 1px solid var(--maincolor);
    color: var(--maincolor);
    padding: 7px 5px;
    border-radius: 50%;
}
.service-item-img img{
width: 100%;
}

.service-bolles {
    list-style: none;
    text-align: center;
}

.service-bolles li{
    width: 10px;
    height: 10px;
    display: inline-block;
    background-color: gainsboro;
    margin: 10px 20px;
    border-radius: 50%;
}

.service-bolles li.active{
background-color: var(--maincolor);
}

.service-bolles li:hover{
background-color: var(--maincolor);
}